<html>
  <head>
    <meta charset="UTF-8">
    <title>Запуск бота Телеграм</title>
    <link rel="stylesheet" href="./bot.css">
  </head>
  <body>
    <div class="text">
      <div class="text_1">
        Бот успешно запущен.
      </div>
      
    </div>
  </body>
</html>